page-pic-select {
	.picture-thumbnail-selected {
		opacity: 0.5;
	}

	.scroll-zoom-wrapper {
        white-space: nowrap;
    }

    .picture-thumbnail {
        width: 15% !important;
        height: auto;
        display: inline-block;
    }

    ion-scroll {
        min-height: 160px;
        height: auto;

            .scroll-content {
            padding: 0px !important;
        }
    }
}
