<!--
	File: pic-select.html
	created: 02/08/18 by Brendan Thompson
	Updated: 02/20/18 by Brendan Thompson

	Summary: Page for selecting the Image that will get sent
-->

<ion-header>
    <ion-navbar>
        <ion-title>Angel Central</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Pick Your Image</h2>

    <!-- Spinner for while Loading Data -->
    <ion-spinner name="circles" *ngIf="pictureList == 0"></ion-spinner>

   	<!-- Main Picture Display -->
   	<h4>The Angel:</h4>
   	<ion-card text-center class="main-display">
   		<img [attr.src]="finalImage">
	</ion-card>

	<!-- Canvas Where the Guardian Angel is drawn -->
	<canvas #myCanvas style="display: none;"></canvas>

   	<!-- Pictures Select -->
   	<p>Select an Image:</p>
    <ion-grid *ngIf="pictureList != 0">
    	<ion-row >
			<ng-container *ngFor="let picture of pictureList">
			<ion-col col-2 (click)="selectPicture(picture)">
				<ion-card class="picture-thumbnail">
					<img src="{{ picture.href }}">
				</ion-card>
			</ion-col>
			</ng-container>
		</ion-row>
	</ion-grid>

    <button ion-button block type="submit" (click)="(submitSelection())">Submit</button>
</ion-content>
