page-text-edit-modal {

	.top-margin{
		margin-top: 40%;
	}

	.cancelBtn{
		color: #fff;
	}

	.cancelIcon{
		color: #99ddff;
	}

	.popover-style {
		background: rgba(0.9, 0.9, 0.9, 0.8) !important;
	}
}
